#root {
    margin: 0;
    text-align: center;
}

.photoGallery {
    background-size: cover;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.galleryIcon {
    padding-left: 6rem;
}

.galleryAlt {
    color: white;
}
